@charset "UTF-8";

.category_left {
    width: 90px;
    height: 100%;
    float: left;
    /*background-color: red;*/
}

.category_left li {
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-right:1px solid red;
    border-bottom:1px solid red;
    background-color: lightsalmon;
}

.category_left li.now{
    background-color: #fff;
    border-right:none;
}



.category_right {
    height: 100%;
    /*background-color: green;*/
    overflow: hidden;
    position: relative;
}
.category_right li {
    width: 33.3%;
    float: left;
    text-align: center;
}

.category_right li img {
    display: block;
    width: 62px;
    height: 62px;
    margin:0 auto;
}

.tips{
    padding: 10px;
    color:#333;
}